body
  background-color: #e6e6ea
  
  // Navegador
.navbar-dark 
    background-color: #56a3b0
    list-style: none
i
  color: #ffffff

.input-group-text
  pointer:cursor!important
form
  position: relative;
  right: 6em;
.icon
  color: #56a3b0 
  position: relative;
  left: 7em;
.active
   background-color: #56a3b0 